/* --- Main line styles --- */

body{
	background-color:#00abcd;
	font-family:Georgia, serif;
	font-size:small;
	color:#fff;
	line-height:300%;

}
#header{
	padding-top:60px;
	font-size:5em;
}
#left-border{
	border-top: 4px solid #fff;
	border-left: 4px solid #fff;
	border-bottom: 4px solid #fff;
	float:left;
	height:90px;
	width:30px;
}

#right-border{
	border-top: 4px solid #fff;
	border-right: 4px solid #fff;
	border-bottom: 4px solid #fff;
	float:right;
	height:90px;
	width:30px;
}

#tag{
	font-size:.5em;
}
